absl-py==2.1.0
aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.12.1
async-timeout==4.0.3
asynctest==0.13.0
attrs==23.2.0
beautifulsoup4==4.12.3
bert-score==0.3.13
blis==0.7.11
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.8.2
confection==0.1.4
cycler==0.11.0
cymem==2.0.8
-e git+https://github.com/feralvam/easse.git@6a4352ec299ed03fda8ee45445ca43d9c7673e89#egg=easse
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.1/en_core_web_md-3.4.1-py3-none-any.whl#sha256=96ddc2e0300e1ed142c2e80bacc83438dc09231f2ca4d104f83afc021eba098e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl#sha256=83872781dc64893d45d9dbe940e05f80df7e7196e169ea29e2e9742fed079549
filelock==3.12.2
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
gdown==4.5.1
gitdb==4.0.11
GitPython==3.1.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
greenlet==3.0.3
grpcio==1.62.2
huggingface-hub==0.0.8
idna==3.7
importlib-metadata==6.7.0
importlib-resources==5.12.0
Jinja2==3.1.3
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
Levenshtein==0.23.0
lxml==5.2.1
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
multidict==6.0.5
murmurhash==1.0.10
networkx==2.6.3
nltk==3.8.1
numpy==1.21.6
oauthlib==3.2.2
optuna==3.6.1
packaging==24.0
pandas==1.3.5
pathy==0.10.3
Pillow==9.5.0
plotly==5.18.0
portalocker==2.7.0
preshed==3.0.9
protobuf==3.20.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==1.9.2
pyDeprecate==0.3.2
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.12.0
pytorch-lightning==1.6.5
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.4.0
regex==2024.4.16
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
sacrebleu==2.4.2
sacremoses==0.0.53
safetensors==0.4.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
sentencepiece==0.1.95
simalign==0.4
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
soupsieve==2.4.1
spacy==3.4.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.52
srsly==2.4.8
stanfordnlp==0.2.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thinc==8.1.12
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.8.0+cu111
torchaudio==0.8.0
torchmetrics==0.10.3
torchvision==0.9.0+cu111
tqdm==4.66.2
transformers==4.6.1
tseval @ git+https://github.com/facebookresearch/text-simplification-evaluation.git@dea8863683ea5946fd50184883c9be7a7339e821
typer==0.4.2
typing_extensions==4.1.1
urllib3==2.0.7
wasabi==0.10.1
Werkzeug==2.2.3
yarl==1.9.4
yattag==1.15.2
zipp==3.15.0
